<div class = "container">
	<% if @mechanic.errors.any? %>
	    <div id="error_explanation">
		    <div class="alert alert-danger">
		      The form contains <%= pluralize(@impactGuide.errors.count, "error") %>.
		    </div>
		    <ul>
			    <% @impactGuide.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			    <% end %>
		    </ul>
	    </div>
	<% end %>

	<%= form_for @mechanic do |f|%>

		
		<%g.text_area :text, :placeholder => "description", class:  'form-control'%>

		<%=f.fields_for :examples do |g|%>
			<%g.text_area :text, :placeholder => "descripe the instance here", class:  'form-control'%>
		<%end%>
		
	<%end%>
</div>

