@import "bootstrap-sprockets";
@import "bootstrap";

.sidebar {
	background-color: red;
	hight: 200%;
	width: 20%;
	position: absolute;
	float: left;
}

.main{
	position: relative;
	margin-left: 20%;

}

html body { 
height:100%; 
}
.wikiform {
	width: 50%;
}

.mainTitle
{
	font-size: 2em;
	font_weight: bold;
	text-align:center;
	border-style: solid;
    border-width: 3px;
}
.title
{
	font-size: 1.5em;
	font_weight: bold;
	text-align:center;
}
.subTitle 
{
	font-size: 1em;
	font-weight: bold;

}
.hide
{
	display: none;
}